.accordion__child {
  margin: 15px;
  background-color: #FFF;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.accordion__child > .accordion__title {
  padding: 15px;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  padding-right: 80px;

  transition: all 0.4s ease;
}

.accordion__child > .accordion__title:hover {
  background-color: rgba(211, 211, 211, 0.2);
  box-shadow: 10px;
}

.accordion__child > .accordion__title::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 2%;
	transform: translateY(-50%);
	width: 30px;
	height: 30px;

	background-image: url('../../data/image/chevron.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

	transition: all 0.4s ease-out;
}

.accordion__child > .accordion__body {
  font-size: 16px;
  padding-left: 50px;

  opacity: 0;
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.4s ease-out;
}

.accordion__child.open > .accordion__body > .accordion__child {
  margin-right: 30px;
  margin-bottom: 30px;
}

.accordion__child.open > .accordion__title {
  border-bottom: 2px solid rgba(0, 255, 255, 0.4);
}

.accordion__child.open > .accordion__title::after {
  transform: translateY(-50%) rotate(90deg);
}

.accordion__child.open > .accordion__body {
  padding-top: 20px;
  max-height: 1000px;
  opacity: 1;
}

.accordionless_body {
  padding-bottom: 20px;
  padding-top: 0px;
}
