body {
  background-color: #EEE;
}

.accordion__container {
	width: 100%;
	max-width: 768px;
	margin: 5vh auto 20vh;
	padding: 15px;
}

.hide {
  opacity: 0;
  max-height: 0;
  overflow-y: hidden;
}

.availText {
  padding-top: 10px;
  padding-left: 20px;
}
