h1 {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #281414;
  z-index: 10;
  margin: 0;
  padding: 0;
}

.mapContainer {
  overflow-x: hidden;
}

div > p {
  text-align: center;
  margin: 5px;
}

.availSpots {
  color: rgba(34,139,34, 1);
}

.notAvail {
  color: rgba(250,128,114, 1);
}

.loc {
  font-weight: bold;
  font-size: 16px;
}
